.main__title{
    text-align: center;
    font-size:36px;
    font-weight: 600;
    padding-bottom: 25px;
}
.main{
    padding-top:25px;
    padding-bottom:30px;
}
.main__box{
    display: flex;
    flex-wrap: wrap;
}
.main__img{
    width: 33.3%;
    height: 400px;
}