.header__title{
    font-size:70px;
    line-height: 85px;
    color:white;
    padding-top: 50px;    
}
.header__text{
    font-size:18px;
    color: white;
    line-height: 26px;
    padding-top:30px;
    padding-bottom: 35px;
}
.header__box{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__btn{
    width: 140px;
    height: 45px;
    border-radius: 25px;
    border: 1.5px solid white;
    background-color:transparent;
    color:white;
    font-size: 14px;
    font-weight:400;
}
.header__btn:hover{
    background-color:white;
    color:grey;
}
.header{
    padding-bottom: 100px;
    padding-top: 120px;
}
