.navbar__link{
    color:#fff;
    font-size:14px;
    font-weight: 400;
}
.navbar__link:hover{
    border-bottom: 2px solid #fff;
    padding-bottom:5px;
    transition: 0.3s;  
}
.navbar__container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.navbar{
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    
}
.navbar__img{
    width: 130px;
    height: 75px;
}
select{
    background-color:transparent;
    border: none;
    color:#fff;
}
option{
    color:#fff;
    font-size:15px;
    font-weight: 400;
    background-color: black;
    border: none;
    padding-top: 10px;
}
.navbar__list{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
}
.navbar-transparent{
    background: transparent;
    
}
.navbar-blue{
    background-color:#fce8bd;
}

.link-transparent{
    color:#fff;
}
.link-blue{
    color: rgb(22, 22, 22);
}
.img-transparent{
    color:#fff;
}
.img-blue{
    color: black;
}





@media(max-width:1120px){
    .container{
        width: 1000px;
    }
}
@media(max-width:1020px){
    .container{
        width: 900px;
    }
}
@media(max-width:920px){
    .container{
        width: 800px;
    }
    .fa-phone,.fa-bars{
        display:block;
    }
    .navbar__link{
        display:none
    }
    select{
        display: none;
    }
    .navbar{
        background-color: #2c3442;
    }
}
@media(max-width:820px){
    .container{
        width: 700px;
    }
   

}
@media(max-width:720px){
    .container{
        width: 600px;
    }
}
@media(max-width:620px){
    .container{
        width: 500px;
    }
}
@media(max-width:520px){
    .container{
        width: 400px;
    }
}
@media(max-width:420px){
    .container{
        width: 100%;
        padding:15px;
    }
   .navbar{
       padding:0px;
   }
}